body{
font-family:Arial;
background:#f4f7fa;
}

.box{
width:70%;
margin:auto;
margin-top:60px;
background:white;
padding:30px;
border-radius:10px;
box-shadow:0 0 12px gray;
}

h1{
text-align:center;
color:#2c3e50;
}

input,button{
width:100%;
padding:15px;
margin-top:20px;
}

button{
background:#3498db;
color:white;
border:none;
font-size:18px;
}

table{
width:100%;
margin-top:20px;
border-collapse:collapse;
}

th,td{
border:1px solid #ddd;
padding:12px;
text-align:center;
}

th{
background:#3498db;
color:white;
}

a{
display:block;
text-align:center;
margin-top:20px;
}